<!DOCTYPE html>
<html>

<head>

    <meta name="description" content="Drag a link to reconnect it. Nodes have custom Adornments for selection, resizing, and rotating.  The Palette includes links." />
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <script src="./assets/extensions/Figures.js"></script>

</head>

<body>
    <div id="sample">
        <div style="width: 100%; display: flex; justify-content: space-between">
            <div id="myPaletteDiv" style="width: 105px; margin-right: 2px; background-color: #282c34; border: solid 1px black"></div>
            <div id="myDiagramDiv" style="flex-grow: 1; height: 750px;  background-color: #282c34;"></div>
        </div>

        <div>




            <div>

                <p></p>
            </div>

        </div>
    </div>
</body>

</html>