<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<router-outlet></router-outlet>
<div class="container">

    <!--CABECERA DE LA WEB-->
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:  rgba(0, 0, 0,0.1)" *ngIf="type">
        <a class="navbar-brand" [routerLink]="['/home']" style="cursor: pointer;" (click)="saveType(1)">Model C4</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" *ngIf="type=='room'">
                    <a class="nav-link mr-2" style="cursor: pointer;" data-toggle="modal" data-target="#exampleModal">Generate link</a>
                </li>
                <li class="nav-item" *ngIf="type=='room'">
                    <a class="nav-link mr-2" style="cursor: pointer;" data-toggle="modal" data-target="#roomModal" data-dismiss="modal">Save</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-2" [routerLink]="['/saved']" style="cursor: pointer;" *ngIf="type=='home'">Saved</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-2" [routerLink]="['/room',uuid]" *ngIf="type=='home'" style="cursor: pointer;" (click)="saveType(2)">New Room</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-2" [routerLink]="['/myrooms']" style="cursor: pointer;" *ngIf="type=='home'">My rooms</a>
                </li>
            </ul>

        </div>

        <ul class="navbar-nav navbar-right ">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{identity.fullname}}
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Setting</a>
                    <a class="dropdown-item" href="#">Binnacle</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" style="cursor: pointer;" (click)="logout()">Log out</a>
                </div>
            </li>

        </ul>

    </nav>

    <body>



        <!-- Room Modal -->
        <div class="modal fade" id="roomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="max-width: 350px" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Saved Project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                    </div>
                    <div class="modal-body">
                        <form #savedForm="ngForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Name</label>
                                <input type="text" class="form-control" name="name" id="name" #name="ngModel" [(ngModel)]="saved.name">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Description</label>
                                <textarea class="form-control" name="description" id="description" #description="ngModel" [(ngModel)]="saved.description"></textarea>
                            </div>

                            <a (click)="onSubmit()" class="btn btn-danger" data-dismiss="modal" style="color: white; margin-right: 5px; margin-left: 25%;">Save</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </form>

                    </div>

                </div>

            </div>

        </div>




        <!-- Modal Code-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Codigo de la sala</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                    </div>
                    <div class="modal-body">
                        {{roomCode}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="getLink()">Obtener</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>



    </body>




    <router-outlet></router-outlet>